#outer-box{
  padding: 50px;
  background-color: teal;
  width:400px;
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
}

#inner-box{
  border-style: solid;
  border-width: 50px;
  border-color: pink;
  background-color: salmon;
  height:200px;
  width:200px;
}
